<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&quot; rel=" stylesheet">

</head>

    <body>
        <section class="container">
            <form class="form">
                <h1 class="title">Faça seu login</h1>
        
                <div class="box-first">
                    <label class="label-text" for="email">E-mail</label>
                    <input class="enter-text" type="text" id="email" placeholder="Digite seu email" />
                </div>
        
                <div class="box-second">
                    <label class="label-text" for="password">senha</label>
                    <input class="enter-text" type="password" id="password" placeholder="Crie uma senha" />
                </div>
        
                <div class="connect">
                    <div class="connect-me">
                        <input class="connect-check" type="checkbox" id="connect" />
                        <label class="connect-label" for="connect">Mantenha-me conectado</label>
                    </div>
                    <a href="./remove.html" class="forgot">Esqueci minha senha</a>
                </div>
        
        
                <button class="send" type="submit">Entrar</button>
        
                <span class="singin">
                    Ainda não tem uma conta?
                    <a href="./cadastrar.html" class="singin-link">Cadastre-se</a>
                </span>
            </form>
        </section>
        <script src="../static/login.js"></script>
    </body>
</html>