body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #589bff;
}

.form-control, .btn {
    border-radius: 8px;
}

.btn-primary {
    background-color: #0d6eff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056d2;
}

.text-decoration-none {
    color: #0062ff;
}

.text-decoration-none:hover {
    color: #0056d2;
}
